[paths]

source = src

[run]

branch = True
source = src
parallel = True

[report]
omit =
    build/*
    setup.py
    */nose/*
    */pkg_resources/*
    */six.py
    */nose2/*
    */tests/*
    */coverage/*
    */cov_core.py
ignore_errors = True  

[html]
directory = coverage

[xml]
output = coverage.xml