__pycache__/*
tests/__pycache__/*
dist/*
src/pytickersymbols.egg-info/*
src/tests/__pycache__/*
src/pytickersymbols/__pycache__/*
.coverage.*
src/test/__pycache__/*
report.xml
coverage.xml
nosetests.xml
coverage/*
.noseids
report.xml
.tox/*
.venv/*
.coverage
build/*
.pytest_cache/*
.vscode/*
src/pytickersymbols/data/stocks.json
.theia/*
stockswithmetadata.yaml
tools/src/pytickersymbols/data/stocks.json
