name: Release Build

on:
  pull_request:
    types: [closed]
    branches:
      - master
      - main

  workflow_dispatch:
    inputs:
      reason:
        description: "Why run release manually?"
        required: false
        default: "manual test"

permissions:
  contents: write
  checks: write
  pull-requests: write
  statuses: write

jobs:
  release:
    # Run only if PR was merged or manual trigger
    if: github.event_name == 'workflow_dispatch' || github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.11]
        poetry-version: [1.7.1]

    steps:
      - uses: mickem/clean-after-action@v1

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: ${{ matrix.poetry-version }}
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Install dependencies
        run: poetry install --no-interaction --with dev

      - name: Run tests
        run: poetry run pytest --cov-report xml

      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          files: test-results/**/*.xml

      - name: Upload coverage to Coveralls (parallel)
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: coverage.xml
          format: cobertura
          flag-name: release
          parallel: true

      - name: Python Semantic Release
        id: release
        uses: python-semantic-release/python-semantic-release@v10.5.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pypi_token: ${{ secrets.PYPI_TOKEN_PP }}
  coveralls_finish:
    needs: release
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Finish Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
